*#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
body {
  background: var(--main-background-theme-color);
  background-color: var(--main-background-base-color);
  height: 98vh;
  min-height: 600px;
}
button {
  cursor: pointer;
}
:root {
  --main-color: rgb(0, 189, 126);
  --main-color-dark: rgba(0, 189, 126, 0.2);
  --main-accept-color: rgb(59 130 246);
  --main-accept-color-dark: rgb(30 58 138);
  --main-deny-color: rgb(209, 20, 20);
  --main-deny-color-dark: rgba(121, 0, 0, 0.5);
  --main-background-theme-color: linear-gradient(black, 30%, rgb(35, 40, 69), 90%, rgb(61, 19, 65));
  --main-background-base-color: rgb(40, 40, 40);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: rgba(21, 48, 78, 0.527);
  border: 1px solid slategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}
